{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>SSN Code Busters</title>
	<link rel="stylesheet" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/libs/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/libs/jquery-ui/jquery-ui.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/libs/rslides/responsiveslides.css' %}">
	<link rel="stylesheet" href="{% static 'assets/libs/slick/slick.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600%7CMontserrat:300,400,600%7CRaleway:300,400,400i,600%7COpen+Sans:400,400i%7CVarela+Round">
</head>

<body id="index1" class="homepage" style="background-color: #ffffff;">

<header>
	<ul class="pull-right lang">
		<li class="selected"><a href="#">EN</a></li>
		<li><a href="#">DE</a></li>
		<li><a href="#">FR</a></li>
		<li><a href="#">PO</a></li>
	</ul>
	<div class="container">
		<div id="topbar">
			<div class="pull-right">
				<div class="navigation">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<i class="zmdi zmdi-menu zmdi-hc-lg"></i>
					</button>
					<nav class="collapse navbar-collapse" id="myNavbar">
						<ul>
							<li class="active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">Online IDE</a>
							</li>
							<li>
								<a href="#">Practice</a>

							</li>
							<li>
								<a href="#">Compete</a>

							</li>
                            <li>
                                <a href="#">Forum</a>
                            </li>
							<li><a href="contact.html">Contact</a></li>
                        </ul>
					</nav>
				</div>
				<a href="#" class="blueplay login">LOGIN</a>
				<a href="#" class="register">REGISTER</a>

				<div class="search">
					<a href="#" class="search"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a>
					<div class="search-something">
						<input type="search" placeholder="search for something">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
 			</div>
			<h1 class="logo" style="width: 2%; height: auto; margin-left: -10px;"><a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="Logo"></a></h1>
		</div>

	</div>

{#	<a href="#" class="scrolldown"><span></span></a>#}
</header>
<main>
{% block content %}
{% endblock %}
</main>
<footer>
	<div class="container" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;" >
		<div class="row" >
			<div class="col-md-4 col-sm-6 col-xs-12">
				<h1 class="logo"><a href="index.html"><img src="{% static 'assets/images/logo.png' %}" alt="Logo"></a></h1>
				<ul class="contactinfo">

				</ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
				<ul class="social">
					<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-twitter"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-google-old"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-pinterest"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-instagram"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-rss"></i></a></li>
				</ul>
			</div>


		</div>

	</div>

</footer>

<script src="{% static 'assets/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/libs/rslides/responsiveslides.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/libs/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>




